@import '../css/reset.css';
@import '../css/fonts/poppins.css';

@import 'utilities';
@import '~bulma';

* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: $grey-darker;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 20px;
    // border: 5px solid $grey-darker;
    padding: 0.2em;
}

* * {
    
    box-sizing: border-box;
}

::selection {
    background-color: var(--accent-color);
    color: $white;
}

html {
    overflow: auto;
}

i.feather {
    vertical-align: middle;
}

.content {
    h1, h2, h3, h4, h5, h6, label {
        color: $white-ter;
    }
}

.has-background-accent {
    background-color: var(--accent-color);
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .1s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }