@import '../css/reset.css';
@import '../css/fonts/poppins.css';

@import 'utilities';
@import '~bulma';

html {
    overflow: hidden;
}

i.feather {
    vertical-align: middle;
}

.content {
    h1, h2, h3, h4, h5, h6, label {
        color: $white-ter;
    }
}