@import '../css/reset.css';
@import '../css/fonts/poppins.css';

@import 'utilities';
@import '~bulma';

* * {
    
    box-sizing: border-box;
}

::selection {
    background-color: var(--accent-color);
    color: $white;
}

html {
    overflow: auto;
}

i.feather {
    vertical-align: middle;
}

.content {
    h1, h2, h3, h4, h5, h6, label {
        color: $white-ter;
    }
}

.has-background-accent {
    background-color: var(--accent-color);
}