:root {
	--black: hsl(0, 0%, 4%);
	--black-light: hsl(0, 0%, 7%);
	--black-lighter: hsl(0, 0%, 14%);

	--white: hsl(0, 0%, 100%);
	--white-dark: hsl(0, 0%, 98%);
	--white-darker: hsl(0, 0%, 96%);

	--grey-darker: hsl(0, 0%, 21%);
	--grey-dark: hsl(0, 0%, 29%);
	--grey: hsl(0, 0%, 48%);
	--grey-light: hsl(0, 0%, 71%);
	--grey-lighter: hsl(0, 0%, 86%);
	--grey-lightest: hsl(0, 0%, 93%);

	--orange: hsl(14, 100%, 53%);
	--yellow: hsl(44, 100%, 77%);
	--green: hsl(153, 53%, 53%);
	--turquoise: hsl(171, 100%, 41%);
	--cyan: hsl(207, 61%, 53%);
	--blue: hsl(229, 53%, 53%);
	--purple: hsl(271, 100%, 71%);
	--red: hsl(348, 86%, 61%);

	--accent: #6f42c1;
	--accent-contrast: #fff;

	--bg-color: #0a0a0a;
	--fg-color: #fefefe;

	--main-font: 'Poppins';

	--topbar-height: 50px;
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--grey-darker) var(--grey);
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: var(--grey-darker);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--grey);
	padding: 0.2em;
}

* * {
	box-sizing: border-box;
	position: relative;
}

html {
	height: 100%;
}

body {
	min-height: 100%;

	font-family: var(--main-font), 'Lato', BlinkMacSystemFont, -apple-system,
		'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: normal;
	line-height: 1.4;

	color: var(--fg-color);
	background: var(--bg-color);
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 1em;
}

::selection {
	background-color: var(--accent);
	color: var(--white);
}

i.feather {
	vertical-align: middle;
}

.has-background-accent {
	background-color: var(--accent);
	color: var(--accent-contrast);
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.1s ease-in-out;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.control-button {
	cursor: pointer;
}
